*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.358);
    transition: .5s ease-in all;
}
.logoIMG{
    height: 40px;
    width: 40px;
    padding: 10px;
}
.logoName{
    font-size: 2rem;
    text-transform: capitalize;
    padding: 10px;
}
.searchBody{
    display: flex;
    height: 100vh;
}
.firstBox{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in all;

}
.input{
    border: none;
    padding: 20px;
    width: 700px;
    border-radius: 10px;
}
.microPhoneIcone{
    position: absolute;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}
.chaneBg{
    background-color:transparent;
    width: 100px;
    padding: 5px;
    text-align: center;
    border: none;
}
.sunIcon{
    /* color:black; */
    color:black;
}
.moonIcon{
    color: white;
}
.Bg{
    background-color: black;
    color: white;
    transition: .5s ease-in all;
}

newBg{
    background-color: wheat;
    color: black;
    transition: .5s ease-in all;
    /* box-shadow: 1px 1px 1px 1px red; */
}
body {
    background-image: url("../assets//mn.avif");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width:768px) {
    .logoName{
        padding-top: 30px;
        font-size: 1.2rem;
    }
    .input{
        border: none;
        padding: 15px;
        width: 350px;
        margin-left: 0px;
    }
    .firstBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}