*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.358);
}
.logoIMG{
    height: 80px;
    width: 80px;
    padding: 10px;
}
.logoName{
    font-size: 2rem;
    text-transform: capitalize;
    padding: 10px;
}
.searchBody{
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.firstBox{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    border: none;
    padding: 15px;
    width: 700px;
   
}
.microPhoneIcone{
    position: absolute;
    padding: 10px;
}
.innerSpan{
  
}
@media only screen and (max-width:768px) {
    .logoName{
        padding-top: 30px;
        font-size: 1.2rem;
    }
    .input{
        border: none;
        padding: 15px;
        width: 350px;
        margin-left: 0px;
    }
    .firstBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}